<h1>Your Orders</h1>

<% if @orders.any? %>
  <ul>
    <% @orders.each do |order| %>
      <li>
        <%= link_to "Order ##{order.id}", order_path(order) %> -
        Status: <%= order.status %> -
        Total: <%= number_to_currency(order.total_price) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no orders yet.</p>
<% end %>

<%= link_to "Return to Shop", products_path %>